@media only screen and (min-width: 1024px) {
    body {
        font-size: 16pt
    }

    #banner {
        flex-flow: column wrap;
        align-items: center;
        align-content: center
    }

    nav {
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-evenly
    }

    nav button.menu{
        display: none;
    }

    #mytopnav {
        font-size: 20pt;
    }

    .date,footer {
        font-size: 18pt
    }

    /* Home Page */
    .homeh1, .homeh2, .homeh3 {
        font-size: 20pt
    }

    .headline {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .siteSummary {
      width: 25%;
    }

    .templeSegway {
        text-align: center;
        clear: right;
        color: slateblue;
    }

    .templeSummary {
        display: flex;
        flex-direction: column;
        align-items: center;
        clear: right
    }

    .homeTempledescription {
        width: 35%;
    }

    .contactStuff {
        margin-right: 400px;
        margin-left: 400px;
    }
    
    .homeMap {
        margin-bottom: 50px;
    }

   

    /* Resources */

.resources {
    margin-left: 100px
}

/* Temple Page Main */

#gallery {
    grid-template-columns: 1fr 1fr;
}

figcaption {
    font-size: 20pt
}

/* Services Page */

.services {
    margin-left: 10%;
    margin-right: 20%;
}

/* Reception Page */

.receptionList {
    margin-right: 25%;
    margin-left: 25%;
}

/* Missionary Page */

.missionaryh3, .missionaryList {
    margin-left: 5%;
}

/* Footer */

    footer {
        margin-bottom: -50px;
    }
}