@media only screen and (min-width:1024px) {
    body {
        font-size: 16pt
    }

    #banner {
        flex-flow: column wrap;
        align-items: center;
        align-content: center
    }

    nav {
        flex-flow: row wrap;
        justify-content: space-evenly
    }

    nav button.menu {
        display: none
    }

    .date,footer {
        font-size: 18pt
    }

    #mytopnav,.homeh1,.homeh2,.homeh3,figcaption {
        font-size: 20pt
    }

    .headline {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .siteSummary {
        width: 25%
    }

    .templeSegway {
        text-align: center;
        clear: right;
        color: #6a5acd
    }

    .templeSummary {
        display: flex;
        flex-direction: column;
        align-items: center;
        clear: right
    }

    .homeTempledescription {
        width: 35%
    }

    .contactStuff {
        margin-right: 400px;
        margin-left: 400px
    }

    .homeMap {
        margin-bottom: 50px
    }

    .resources {
        margin-left: 100px
    }

    #gallery {
        grid-template-columns: 1fr 1fr
    }

    .AsessionInfo,.EsessionInfo,.LsessionInfo,.SsessionInfo {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly
    }

    .sessions {
        flex-flow: row wrap;
        justify-content: space-around
    }

    form {
        margin-left: 250px;
        margin-right: 250px
    }

    .formName,.sessions {
        display: flex
    }

    .inputOne {
        width: 250px;
        height: 25px
    }

    .inputTwo {
        width: 30px
    }

    .check,.rooms,.selections {
        display: flex
    }

    select {
        width: 110px
    }

    textarea {
        width: 75%;
        height: 300px
    }

    .formSubmit {
        margin-left: 20px
    }

    .services {
        margin-left: 10%;
        margin-right: 20%
    }

    .receptionList {
        margin-right: 25%;
        margin-left: 25%
    }

    .receptionTalk {
        margin-right: 400px;
        margin-left: 400px
    }

    .missionary {
        grid-template-columns: 1fr 1fr
    }

    .missionInfo,.missionName {
        display: flex
    }

    .missionInput {
        width: 150px
    }

    .missionInput2 {
        width: 225px
    }

    .missionaryServices {
        float: right
    }

    .Mservices {
        margin-left: 100px
    }

    .missionForm {
        position: relative;
        left: 50px
    }

    footer {
        margin-bottom: -50px
    }
}