body {
    background-color: white;
    color: deepskyblue;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif
}

/* Header */

#banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: skyblue;
}

.title {
    color: white;
    font-family: 'Lobster', cursive;
}

/* Navigation */

nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

@media screen and (max-width:768px) {
    .topnav :not(:first-child) {
        display: none
    }
}

#mytopnav {
    font-size: 16pt;
    background-color: lightsteelblue;
    width: 100%;
}

nav a {
    text-decoration: none;
    padding: .8rem 2%
}

nav button.menu {
    background-color: transparent;
    border: 0;
    padding: .8rem 2%;
    color: #fff
}

 nav a:link{
    color: #0000ff
}

 nav a:focus {
    color: #00bfff
}

 nav a:hover {
    color: #fff;
    background-color: mediumblue
}

 nav a.active {
    background-color: lightskyblue;
    color: #fff
}

nav button.subnavbtn {
    background-color: transparent;
    border: 0;
    padding: .8rem 2%;
    color: slateblue
}

.subnav-content {
    display: none;
}

.subnav {
    position: relative
}

/* Homepage */
.headline p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify
}

.homeh1, .homeh2, .homeh3, .homeh4 {
    font-size: 12pt;
    color: #0000cd
}


.homeh2 {
    text-align: center;
    text-decoration: underline
}

.homeTemple {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.templeSummary {
    margin-left: 10px;
    margin-right: 10px
}

.bookbtn {
    text-decoration: none;
    background-color: blue;
    color: yellow;
    border: solid 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-color: skyblue;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 8vw
}

.contactStuff h3, a, p {
    margin-left: 10px
}

.contactStuff a.fa{
    padding: 10px;
    font-size: 20px;
    width: 25px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.contactStuff em {
    color: mediumslateblue
}

.fa-facebook {
    background: #3b5998;
    color: white
}

.fa-twitter {
    background: #55acee;
    color: white
}

.fa-youtube {
    background: #bb0000;
    color: white
}

.fa-instagram {
    background: #125688;
    color: white
}

.homeMap {
    float: right;
}

/* Temple Page, Main */

#gallery {
    display: grid;
    padding: 0 2%;
    grid-template-columns: auto;
}

#gallery figure img {
    width: 100%;
}

figure img:hover {
    box-shadow: 0 0 50px #6a5acd
}

figcaption {
    color: mediumblue;
    text-align: center
}

/* Temple Pages */
.loganTemple, .atlantaTemple, .londonTemple, .saltlakeTemple {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.loganStuff, .atlantaStuff, .londonStuff, .saltlakeStuff {
    display: flex;
    justify-content: center;
}

.templeHead {
    text-align: center;
    color: slateblue
}

.templeMainback {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

#loganWeather, #atlantaWeather, #sltlkWeather, #londonWeather{
    background-color: rgb(0, 191, 255);
    color: gold;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}

.loganWeather, .atlantaWeather, .sltlkWeather, .londonWeather {
    display: flex;
    justify-content: space-evenly;
}

.weatherTitle{
    text-align: center;
}

/* Services Page */

.services {
    margin-left: 10px;
    margin-right: 10px
}

.serviceh1 {
    text-align: center;
    color: slateblue
}

.serviceh2 {
    color: mediumslateblue
}

.bell {
    float: right;
}

.serviceh3 {
    clear: right;
}

/* Reception Page */

.receptionh1 {
    text-align: center;
    color: slateblue
}

.receptionh2 {
    color: mediumslateblue;
    text-align: center
}

.receptionh3 {
    text-align: center
}

.wedding {
    display: block;
    margin-right: auto;
    margin-left: auto
}


/* Missionary Page */

.missionaryh1 {
    text-align: center;
    color: slateblue
}

.missionaryh2 {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center
}

.missionaryh2 {
    color: mediumslateblue
}

/* Contact Page */
@media only screen and (max-width: 600px) {
iframe {
    width: 300px
}
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

/* Footer */

footer {
    padding-top: 10px;
    padding-bottom: 2px;
    clear: right;
    background-color: skyblue;
    text-align: center;
    font-size: 8pt;
    color: white;
    font-family: Arial,Bold,sans-serif
}