body {
    background-color: #fff;
    color: #1e90ff;
    font-size: 8pt;
    font-family: Arial,Helvetica,sans-serif
}

#banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #87ceeb
}

.title {
    color: #fff;
    font-family: 'Lobster',cursive
}

nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center
}

@media screen and (max-width:768px) {
    .topnav :not(:first-child) {
        display: none
    }
}

#mytopnav {
    font-size: 16pt;
    background-color: #b0c4de;
    width: 100%
}

nav a {
    text-decoration: none;
    padding: .8rem 2%
}

nav button.menu {
    background-color: transparent;
    border: 0;
    padding: .8rem 2%;
    color: #fff
}

nav a:link {
    color: #00f
}

nav a:focus {
    color: #00bfff
}

nav a:hover {
    color: #fff;
    background-color: #0000cd
}

nav a.active {
    background-color: #00bfff;
    color: #fff
}

nav button.subnavbtn {
    background-color: transparent;
    border: 0;
    padding: .8rem 2%;
    color: #6a5acd
}

.subnav-content {
    display: none
}

.subnav {
    position: relative
}

.headline p {
    margin-right: 10px;
    text-align: justify
}

.homeh1,.homeh2,.homeh3,.homeh4 {
    font-size: 12pt;
    color: #0000cd
}

.homeh1 {
    text-align: center;
}

.homeh2 {
    text-align: center;
    text-decoration: underline
}

.homeTemple {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.templeSummary {
    margin-left: 10px;
    margin-right: 10px
}

.bookbtn,.contactStuff a.fa {
    text-align: center;
    text-decoration: none
}

.bookbtn {
    background-color: #00008b;
    color: gold;
    border: solid 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-color: #00bfff;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 8vw
}

.contactStuff h3,.headline p,a,p {
    margin-left: 10px
}

.contactStuff a.fa {
    padding: 10px;
    font-size: 20px;
    width: 25px;
    margin-top: 5px;
    border-radius: 50%
}

.contactStuff em {
    color: #7b68ee
}

.fa-facebook {
    background: #3b5998;
    color: #fff
}

.fa-twitter {
    background: #55acee;
    color: #fff
}

.fa-youtube {
    background: #b00;
    color: #fff
}

.fa-instagram {
    background: #125688;
    color: #fff
}

.homeMap {
    float: right
}

#gallery {
    display: grid;
    padding: 0 2%;
    grid-template-columns: auto
}

#gallery figure img,.missionary figure img {
    width: 100%
}

#gallery figure img:hover {
    box-shadow: 0 0 50px #6a5acd
}

#gallery figcaption {
    color: #0000cd;
    text-align: center
}

.atlantaTemple,.loganTemple,.londonTemple,.saltlakeTemple {
    display: block;
    margin-right: auto;
    margin-left: auto
}

.atlantaStuff,.loganStuff,.londonStuff,.saltlakeStuff {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly
}

.AsessionInfo,.EsessionInfo,.LsessionInfo,.SsessionInfo {
    display: flex;
    flex-flow: row wrap
}

.AsessionInfo em,.EsessionInfo em,.LsessionInfo em,.SsessionInfo em,.atlantaStuff em,.loganStuff em,.londonStuff em,.saltlakeStuff em {
    color: #6a5acd
}

.templeHead {
    text-align: center;
    color: #0000cd
}

#atlantaWeather,#loganWeather,#londonWeather,#sltlkWeather,.templeMainback {
    background-color: #00008b;
    color: gold;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
}

.templeMainback {
    text-decoration: none;
    border: solid 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-color: #00bfff;
    text-align: center;
    width: 8vw
}

#atlantaWeather,#loganWeather,#londonWeather,#sltlkWeather {
    width: 75%
}

.atlantaWeather,.loganWeather,.londonWeather,.sltlkWeather {
    display: flex;
    justify-content: space-evenly
}

#thanks,.inputTwo,.weatherTitle {
    text-align: center
}

form {
    background-color: #4682b4;
    color: gold;
    margin-right: 40px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px
}

select {
    width: 70px
}

.inputTwo {
    width: 15px
}

textarea {
    width: 75%;
    height: 100px
}

.formSubmit {
    margin-left: 10px;
    background-color: #0000cd;
    color: gold;
    border-color: #00bfff
}

.services {
    margin-left: 10px;
    margin-right: 10px
}

.serviceh1 {
    text-align: center
}

.serviceh1,.serviceh2 {
    color: #0000cd
}

.bell {
    float: right
}

.serviceh3 {
    clear: right;
    color: #0000cd
}

.receptionh1 {
    text-align: center;
    color: #0000cd
}

.Mservices em,.staff {
    color: #6a5acd
}

.receptionh3 {
    text-align: center
}

.wedding {
    display: block;
    margin-right: auto;
    margin-left: auto
}

.receptionTalk {
    margin-right: 10px;
    margin-left: 10px
}

.missionary figcaption,.missionaryh1,.missionaryh2 {
    text-align: center;
    color: #0000cd
}

.missionaryh2 {
    margin-left: 25%;
    margin-right: 25%;
    color: #7b68ee
}

.missionary {
    display: grid;
    padding: 0 2%;
    grid-template-columns: auto
}

.missionForm {
    padding-right: 10px
}

.Mservices {
    margin-left: 10px
}

@media only screen and (max-width:600px) {
    iframe {
        width: 300px;
        height: 300px
    }
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.contactUs,footer {
    text-align: center
}

.contactForm {
    display: block;
    margin-right: 25%;
    margin-left: 25%
}

footer {
    padding-top: 10px;
    padding-bottom: 2px;
    clear: right;
    background-color: #87ceeb;
    font-size: 8pt;
    color: #fff;
    font-family: Arial,Bold,sans-serif
}