body {
    margin:0;
    padding:0;
    background-color: lightskyblue;
    color: white;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: deepskyblue;
    font-size: 40pt;
    color: yellow;
    font-family: "Arial Black", sans-serif;
}

header img {
float: left;
width: 100;
height: 100;
}

.motto {
    background-color: deepskyblue;
    font-size: 20pt;
    color: white;
    font-family: "Arial Black", sans-serif;
}

nav {
    font-size: 30pt;
    font-family: 'ABeeZee';font-size: 22px;
}

a:link {
color: yellow;
}

a:visited {
    color: midnightblue;
}

a:focus {
    color: deepskyblue;
}

a:hover {
color: white;
}

a:active {
    color: slateblue;
}

#town {
    font-size: 40pt;
    font-family: Arial, Helvetica, sans-serif;
    color: midnightblue;
}

h2 {
    color: midnightblue;
    font-size: 20pt;
    font-family: Arial, Bold, sans-serif;
}

#summary {
    border: 2px solid midnightblue;
}

#article {
    border: 2px solid midnightblue;
}

#contact {
    border: 2px solid midnightblue;
}

#footerbar {
    text-align: center;
    background-color: skyblue;
    font-size: 14pt;
    color: yellow;
    font-family: Arial, Bold, sans-serif;
}
