table, caption, thead, th, td, tfoot {
    margin: 0 auto;
    padding: 0 auto;
}

table {
    font-family: Ubuntu, sans-serif; 
    font-size: 14pt; 
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    box-shadow: 8px 8px 5px #628ca6
}

caption {
    background-color: #7fb9c2; 
    font-size: 24pt;
    padding: 5px 10px 5px 10px;
}

caption, thead, th, td, tfoot {
    border: 1px solid black;
}

thead {
    background-color: #628ca6;
    color: white; 
   
}

th {
    padding: 5px 10px 5px 10px;
}

td {
    text-align: center;
    padding: 5px 10px 5px 10px;
}

tfoot {
    text-align: center; 
    font-size: 10pt;
    padding: 5px 10px 5px 10px;
}