@media screen and (min-width: 769px) {

    body {
        font-size: 20pt;
    }

    #banner {
        flex-flow: column wrap;
        align-items: center;
        align-content: center;
    }

    .weather {
        margin-right: 425px;
        
    }

    .title {
        font-size: 30pt;
        margin-top: -180px;
    }

    .motto {
        font-size: 20pt;
        margin-top: -50px;
        padding-bottom: 5px;
    }

    nav {
        flex-flow: row wrap;
        justify-content: space-between;
        justify-content: space-around;
        justify-content: center;
    }

    nav button {
        display: none;
    }

    #mytopnav {
        margin-bottom: 20px;
        font-size: 28pt;
        font-family: 'ABeeZee';
    }

    #town {
        font-size: 40pt;
        margin-top: 200px;
        margin-bottom: 150px;
    }

}