@media screen and (min-width: 768px) {
    body {
        font-size: 15pt;
    }

    .title {
        font-size: 20pt;
    }

    .motto {
        font-size: 14pt;
        margin-left: 50px;
        margin-top: -30px;
    }

    .weather {
        margin-top: 20px;
    }

    nav {
        flex-flow: row wrap;
        justify-content: space-between;
        justify-content: space-around;
    }

    nav button {
        display: none;
    }

    #mytopnav {
        margin-bottom: 20px;
        font-size: 16pt;
        font-family: 'ABeeZee';
        margin-left: 50px;
        margin-right: 50px;
    }

    #town {
        font-size: 26pt;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .weathersummary {
        font-size: 20pt;
        margin-bottom: 15px;
    }

    .hero, .summary {
        margin-left: 35px;
    }

    @media screen and (max-width: 768px) {
        #forecast, .forecast, .background, .monday, .tuesday, .wednesday, .thursday, .friday {
            display: none;
        }
    }

    h3 {
        font-size: 30pt;
        margin-top: 15px;
    }

    .article {
        font-size: 30pt;
        margin-bottom: 50px;
    }

    .rodeo {
        display: block;
        float: right;
        padding-left: 50px;
    }

    #rodeo p {
        line-height: 26px;
        text-align: left;
        margin-left: 30px;

    }

    #rodeo {
        margin-top: 100px;
        display: inline-block;
    }

    #rodeo img {
        position: relative;
        margin-right: 30px;
    }

    .link a {
        display: block;
        margin-left: auto;
        font-size: 16pt;
    }

    #gallery {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2%;
    }

    #gallery {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    #stormform {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    form {
        box-shadow: 10px 10px 20px midnightblue;
    }

    .home {
        font-size: 3vw;
    }

    #towninfo {
        display: flex;
        flex-flow: row wrap; 
    }

    #towninfo div {
        margin-top: 20px;
        margin-left: 50px;
    }

    #towninfo h5 {
        font-size: 18pt;
        line-height: 30px;
    }

    #towninfo p {
        font-size: 14pt;
        line-height: 25px;
    }

    footer {
        font-size: 12pt;
    }

    .map {
        display: inline-block;
    }

    .date {
        font-size: 12pt;
    }
}